/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove Underline from Links */
a {
  text-decoration: none;
}

/* Body Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

/* Navigation Styles */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

nav .nav__content {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

nav .nav__content span {
  padding: 5px;
  border-radius: 5px;
  color: black;
  background-color: rgb(248, 178, 0);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
nav ul li .active {
  background-color: rgb(248, 178, 0);
  color: white;
}
nav ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  font-weight: 600;
  color: white;
  transition: border-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: rgb(248, 178, 0);
}

/* Section Styles */
.section {
  background-color:black;
}

  .section__container {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .subtitle {
    letter-spacing: 2px;
    color: white;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: rgb(248, 178, 0);
    margin-bottom: 1rem;
  }

  .title span {
    font-weight: 600;
  }

  .description {
    line-height: 1.5rem;
    color: white;
    margin-bottom: 2rem;
    text-align: justify;
    font-size: 20px;
  }

  .image {
    display: grid;
    place-items: center;
  }

  .image img {
    width: min(25rem, 60%);
    border: 2px solid rgb(248, 178, 0) ;
    border-radius: 10px;
  }

  @media (width < 750px) {
    nav .checkbox {
      display: block;
    }

    ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      background-color: black;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }

    nav #check:checked ~ ul {
      left: 0;
    }

    ul li a {
      font-size: 1.25rem;
    }

     .section__container {
      padding: 10rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }

    .image {
      grid-area: 1/1/2/2;
    }




  }